body {
	background-image: url("eye.jpg");
	text-align: center;
}

body, button {
	font-family: monofur, monospace;
}

body > div:nth-child(1) {
	background-color: rgba(255, 255, 255, .6);
}

h1 {
	font-size: 50pt;
}

button {
	margin:5vmin;
	font-size: 20pt;
}